--extra-index-url https://download.pytorch.org/whl/cu118

accelerate==0.31.0
datasets==2.20.0
-e ./third_party/UltraEdit/diffusers
huggingface-hub==0.23.4
lpips
matplotlib
numpy==1.26.3
omegaconf==2.3.0
Pillow
protobuf>=3.20.3,<4
PyYAML
requests
safetensors>=0.3.1
scipy
sentencepiece==0.2.0
tokenizers==0.19.1
torch==2.3.0
torchvision==0.18.0
transformers==4.41.2
